{% load static %}
<section id="eng-pics" class="section-padding">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12 text-center">
              <h3 class="header">Engagement Pics</h3>
          </div>
      </div>
      <div class="row">
          <div class="col-md-2">
              <a class="fancybox" rel="group" href="{% static 'bigday/images/engagement/Amazon-Seattle-WA.jpg' %}">
                  <div class="img-wrap">
                      <div class="overlay">
                          <i class="fa fa-search"></i>
                      </div>
                      <img src="{% static 'bigday/images/engagement/Amazon-Seattle-WA.jpg' %}" alt=""/>
                  </div>
              </a>
          </div>
          <div class="col-md-2">
              <a class="fancybox" rel="group" href="{% static 'bigday/images/engagement/Portland-ME.jpg' %}">
                  <div class="img-wrap">
                      <div class="overlay">
                          <i class="fa fa-search"></i>
                      </div>
                      <img src="{% static 'bigday/images/engagement/Portland-ME.jpg' %}" alt=""/>
                  </div>
              </a>
          </div>
          <div class="col-md-2">
              <a class="fancybox" rel="group" href="{% static 'bigday/images/engagement/DC.jpg' %}">
                  <div class="img-wrap">
                      <div class="overlay">
                          <i class="fa fa-search"></i>
                      </div>
                      <img src="{% static 'bigday/images/engagement/DC.jpg' %}" alt=""/>
                  </div>
              </a>
          </div>
          <div class="col-md-2">
              <a class="fancybox" rel="group" href="{% static 'bigday/images/engagement/Boston-1-MA.jpg' %}">
                  <div class="img-wrap">
                      <div class="overlay">
                          <i class="fa fa-search"></i>
                      </div>
                      <img src="{% static 'bigday/images/engagement/Boston-1-MA.jpg' %}" alt=""/>
                  </div>
              </a>
          </div>
          <div class="col-md-2">
              <a class="fancybox" rel="group" href="{% static 'bigday/images/engagement/RapidCity-SD.jpg' %}">
                  <div class="img-wrap">
                      <div class="overlay">
                          <i class="fa fa-search"></i>
                      </div>
                      <img src="{% static 'bigday/images/engagement/RapidCity-SD.jpg' %}" alt=""/>
                  </div>
              </a>
          </div>
          <div class="col-md-2">
              <a class="fancybox" rel="group" href="{% static 'bigday/images/engagement/Boston-MA.jpg' %}">
                  <div class="img-wrap">
                      <div class="overlay">
                          <i class="fa fa-search"></i>
                      </div>
                      <img src="{% static 'bigday/images/engagement/Boston-MA.jpg' %}" alt=""/>
                  </div>
              </a>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row hidden-lg hidden-md hidden-xs">
          <div class="col-xs-12 section-border section-padding"></div>
      </div>
  </div>
  <!--<div class="row">
      <div class="col-md-12">
          <div class="diamond floating-logo">
              <img src="img/sketch-logo.png" alt="Sketch Logo">
              <div class="ring"></div>
          </div>
      </div>
  </div>-->
</section>