{% load static %}
<section id="engagement-event" class="bg-dark" style="color: darkgrey; background-color: whitesmoke;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading text-center" style="color: black;"><a href="{% url 'engagement' %}" target="_blank">Lễ Ăn Hỏi (Engagement Ceremony and Reception)</a></h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>
                        Nhà trai mang sính lễ sang nhà gái để xin phép được kết duyên cau trầu với cô dâu và thực hiện các nghi thức truyền thống của lễ ăn hỏi.  <br>
                        Theo truyền thống người miền Bắc, 9 tráp lễ vật gồm: Trầu cau, chè, bánh cốm, rượu và thuốc lá, bánh phu thê, bánh đậu xanh, lẵng hoa quả kết hình rồng phượng, hạt sen, heo quay
                    </dd>
                    <br>
                    <dd>
                        Our extended families gather together at the bride's house announcing our engagement, spiritually and physically. <br>
                        Celebrate our engagement with our families at a venue in mordern Vietname style.
                    </dd>
                    <br>
                    <dt>When & Where</dt>
                    <dd>
                        <!--Ceremony<br>-->
                        <!--Saturday, September 03 at 15:00 pm<br>-->
                        <!--<address>-->
                        <!--    <a href="https://goo.gl/maps/vjXoTZVdX4qLrXFS9">-->
                        <!--        Thiên Sanh<br>-->
                        <!--        79, Đường Đ. Cách Mạng Tháng 8, An Hoà, Ninh Kiều, Cần Thơ, Vietnam<br>-->
                        <!--    </a>-->
                        <!--    Phone: +84 292 3821 237-->
                        <!--</address>-->
                        Reception<br>
                        Saturday, September 03 at 17:00 pm<br>
                        <address>
                            <a href="https://goo.gl/maps/7FgehiMkYPvh4xLr9">
                                Diamond Palace<br>
                                9a Lý Thái Tổ, KDC Hưng Phú 1, Cái Răng, Cần Thơ, Vietnam<br>
                            </a>
                            Phone: +84 292 3684 999
                        </address>
                    </dd>
                    <br>
                    <dt>Photos</dt>
                    <dd>
                        Xem thêm hình ảnh về lễ ăn hỏi tại <a href="{% url 'engagement' %}" target="_blank">đây</a>
                    </dd>
                    <dd>
                        Pictures of our engagment can be found <a href="{% url 'engagement' %}" target="_blank">here</a>
                    </dd>
                    <br>
                    <dt>Photos</dt>
                    <dd>
                        Pictures about our engagment can be found <a href="{% url 'engagement' %}" target="_blank">here</a>
                    </dd>
                    <dt>Other info</dt>
                    <dd>
                        <a href="{% url 'cantho' %}" target="_blank">Cần Thơ</a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>

<section id="wedding-event" class="bg-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center"><a href="{% url 'wedding-party' %}" target="_blank">Lễ cưới (Wedding Ceremony and Reception)</a></h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>
                        Tiệc cưới được tổ chức tại hội trường nhà khách chính phủ ở trung tâm Hà Nội trong ngày rằm trung thu 2022.
                    </dd>
                    <dd>
                        Come join us in our wedding reception at a venue in the center of Hanoi.
                    </dd>
                    <br>
                    <dt>When & Where</dt>
                    <dd>
                        <!--Ceremony<br>-->
                        <!--Saturday, September 10 at 9:00 am<br>-->
                        <!--<address>-->
                        <!--    <a href="https://goo.gl/maps/Tk7TqCyRCwMM9GaR7">-->
                        <!--        6 Ng. 67 Đ. Nguyễn Văn Cừ, Ngọc Lâm, Long Biên, Hà Nội, Vietnam<br>-->
                        <!--    </a>-->
                        <!--</address>-->
                        Reception<br>
                        Saturday, September 10 at 11:00 am<br>
                        <address>
                            <a href="https://goo.gl/maps/AAh928j4G36MzcLh7">
                                Hội trường nhà khách chính phủ<br>
                                State Guest House's Venue<br>
                                2 P. Lê Thạch, Tràng Tiền, Hoàn Kiếm, Hà Nội, Vietnam<br>
                            </a>
                            Phone: +84 243 8255 853
                        </address>
                    </dd>
                    <br>
                    <dt>Photos</dt>
                    <dd>
                        Xem thêm hình ảnh về lễ cưới tại <a href="{% url 'wedding-party' %}" target="_blank">đây</a>
                    </dd>
                    <dd>
                        Pictures of our wedding can be found <a href="{% url 'wedding-party' %}" target="_blank">here</a>
                    </dd>
                    <br>
                    <dt>Other info</dt>
                    <dd>
                        <a href="{% url 'hanoi' %}" target="_blank">Hà Nội</a>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
