<!-- {% load static %}
<img src="{% static 'bigday/images/Bayshore-Tampa-FL.jpg' %}" class="img-responsive" style="width: 50%; height: 700px; float: left;" alt="">
<img src="{% static 'bigday/images/Bayshore-Tampa-FL.jpg' %}" class="img-responsive" style="width: 50%; height: 700px; float: left;" alt="">
<h5 class="text-muted" style="width: 50%; float: left; align-items: center;">University of South Florida where we first met</h5>
<h5 class="text-muted" style="width: 50%; float: left; align-items: center;">Bayshore Drive looking to Tampa Bay on our first date</h5>
</section> -->
{% load static %}
<header id="fourth-header" class="usf"></header>
<h5 class="text-center text-muted">University of South Florida where we first met and learned about the very existence of each other</h5>

<section id="journey">
    <div class="container">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">How Everything Started</h2>
            <hr class="primary">
            <p>
                Long story short, we first met in the orientation lunch of a program at the University of South Florida in August, 2014.
                We were simply friendly and polite toward each other and no, it was not love at first sight, but Thu was  
            </p>
        </div>
    </div>
</section>

<header id="third-header" class="tampa"></header>
<h5 class="text-center text-muted">Bayshore Drive looking to Tampa Bay on the day of our first date</h5>

<section id="journey">
    <div class="container">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">How Everything Started</h2>
            <hr class="primary">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisl massa, finibus et augue vel, posuere bibendum velit. Fusce augue massa, congue eu dui sed, varius vestibulum lorem. Sed odio nibh, dignissim sit amet sapien scelerisque, convallis hendrerit massa. Aenean id dui elit. Aliquam augue odio, pellentesque a erat id, varius sagittis augue. Suspendisse potenti. Duis feugiat fringilla mi, quis gravida tellus faucibus euismod. Nam vel ante et felis faucibus molestie. Suspendisse consequat purus sit amet neque posuere convallis. Praesent maximus gravida egestas. Etiam dignissim lectus eget dui auctor, quis porttitor felis venenatis. Aliquam purus orci, mattis at scelerisque at, venenatis non purus.

                Integer vitae placerat lacus, non faucibus risus. Nam vestibulum, est quis posuere gravida, ex arcu feugiat augue, nec consectetur metus nibh vitae mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla fringilla magna est, id auctor arcu sagittis non. Fusce dapibus, purus bibendum tincidunt pellentesque, ligula lectus mollis tellus, sed aliquet lorem est eget enim. Praesent pellentesque at elit et scelerisque. Maecenas eu magna id quam sodales convallis in quis diam. Nunc accumsan tristique molestie. Donec et neque sit amet dui lacinia pharetra ut non felis. Pellentesque non pellentesque augue, ut volutpat tellus. Morbi viverra blandit mollis. Aliquam consectetur tortor id dolor porta tempus. Donec ac eleifend sem. Fusce facilisis neque et ultrices elementum. Sed finibus dolor mollis, eleifend lorem nec, tempus lacus.
                
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eros neque, pulvinar id imperdiet vitae, placerat sit amet nibh. Vivamus aliquet porta suscipit. Pellentesque in mi vitae urna gravida dictum. Duis in tortor ex. Maecenas vehicula magna et cursus hendrerit. Phasellus fermentum dignissim posuere. Etiam mattis, nunc ac posuere vulputate, dolor nibh egestas diam, nec varius nulla nisl eu nisl. Mauris aliquet ante vitae ante blandit tristique. Sed pretium nisi non magna rhoncus volutpat. Quisque sit amet augue malesuada, egestas lacus ultricies, ultrices arcu. Fusce interdum felis justo, ac ultricies augue porta dignissim. Integer malesuada erat vel nulla cursus, vitae aliquam augue aliquam. Sed euismod tortor ac ipsum egestas, vel auctor arcu commodo. Ut diam massa, vehicula a faucibus quis, dignissim id magna.
                
                Morbi porttitor tincidunt consequat. Ut egestas mi felis, vitae cursus libero consectetur sed. Sed quis ornare massa. Suspendisse nibh enim, imperdiet vel venenatis quis, imperdiet sed lectus. Aliquam et erat et ante imperdiet vehicula. In eget risus nec dui sollicitudin aliquet. Sed vel metus in lacus semper vestibulum hendrerit nec eros. Fusce rhoncus ante id ipsum tempus, a ultricies enim consectetur.
                
                Donec iaculis ante et elit porta, vel ullamcorper velit malesuada. Curabitur ex eros, egestas eget dolor in, aliquet accumsan arcu. Pellentesque et nisl dui. In hac habitasse platea dictumst. Donec commodo odio sit amet leo fringilla, in ultricies odio rutrum. Sed pretium suscipit tortor ornare interdum. Pellentesque vel maximus magna, ut placerat arcu. Donec commodo eu justo sit amet lobortis. Curabitur lacinia nibh nec neque condimentum porta.            </p>
        </div>
    </div>
</section>
