<!-- {% load static %}
<img src="{% static 'bigday/images/Bayshore-Tampa-FL.jpg' %}" class="img-responsive" style="width: 50%; height: 700px; float: left;" alt="">
<img src="{% static 'bigday/images/Bayshore-Tampa-FL.jpg' %}" class="img-responsive" style="width: 50%; height: 700px; float: left;" alt="">
<h5 class="text-muted" style="width: 50%; float: left; align-items: center;">University of South Florida where we first met</h5>
<h5 class="text-muted" style="width: 50%; float: left; align-items: center;">Bayshore Drive looking to Tampa Bay on our first date</h5>
</section> -->
{% load static %}
<header id="fourth-header" class="usf"></header>
<h5 class="text-center text-muted">University of South Florida where we first met and learned about each other (11/08/14)</h5>

<section id="journey">
    <div class="container">
        <div class="col-lg-12">
            <!-- <h2 class="section-heading text-center">How Everything Started</h2>
            <hr class="primary"> -->
            <p>
                <!-- Long story short, we first met in the orientation lunch of a program at the University of South Florida in August, 2014.
                We were simply friendly and polite toward each other and no, it was not love at first sight, but Thu was   -->
            </p>
        </div>
    </div>
</section>

<header id="third-header" class="tampa"></header>
<h5 class="text-center text-muted">Bayshore Drive looking to Tampa Bay on the day of our first date (15/02/15)</h5>

<section id="journey">
    <div class="container">
        <div class="col-lg-12">
            <!-- <h2 class="section-heading text-center">How Everything Started</h2>
            <hr class="primary"> -->
            <p>

            </p>
        </div>
    </div>
</section>

<header id="second-header" class="secondary"></header>
<h5 class="text-center text-muted">The view of Sam Houston Monument from Hermann Park on the day we got engaged. (07/05/21)</h5>

<section id="proposal">
    <div class="container">
        <div class="col-lg-12">
            <!-- <h2 class="section-heading text-center">The Proposal</h2>
            <hr class="primary"> -->
            <p>
             
            </p>
        </div>
    </div>
</section>