{% load static %}
<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Quan & Thu's big day!</title>
    <meta name="description" content="We would like to invite you to our big day.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:title" content="Quan & Thu's big day">
    <meta property="og:description" content="We would like to invite you to our big day.">
    <meta property="og:type" content="website">
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <link rel="manifest" href="manifest.json">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
    <link rel="stylesheet" href="{% static 'fancybox-youtube-player/css/normalize.min.css' %}">
    <link rel="stylesheet" href="{% static 'fancybox-youtube-player/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fancybox-youtube-player/css/jquery.fancybox.css' %}">
    <link rel="stylesheet" href="{% static 'fancybox-youtube-player/css/flexslider.css' %}">
    <link rel="stylesheet" href="{% static 'fancybox-youtube-player/css/styles.min.css' %}">
    <link rel="stylesheet" href="{% static 'fancybox-youtube-player/css/queries.css' %}">
    <link rel="stylesheet" href="{% static 'fancybox-youtube-player/node_modules/animate.css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'fancybox-youtube-player/node_modules/font-awesome/css/font-awesome.min.css' %}">
    <script src="{% static 'fancybox-youtube-player/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
</head>
<body id="top">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
    <section id="eng-pics" class="section-padding" style="background-color: aliceblue;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3 class="header">
                        <img src="{% static 'save-the-date/images/wedding-arch.png' %}" style="height: 3%; width: 3%" alt=""/>
                        Our Memory Together
                        <img src="{% static 'save-the-date/images/wine.png' %}" style="height: 3%; width: 3%" alt=""/>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="{% static 'save-the-date/images/couple.png' %}" style="height: 5%; width: 5%;" alt=""/>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <a class="fancybox" rel="group" title="Middlesex Fells Reservation, Boston - Massachussetts in 02/2021" href="{% static 'bigday/images/engagement/Boston-MA.jpg' %}">
                        <div class="img-wrap">
                            <div class="overlay">
                                <i class="fa fa-search"></i>
                            </div>
                            <img src="{% static 'bigday/images/engagement/Boston-MA.jpg' %}" alt=""/>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="fancybox" rel="group" title="Portland Head Light, Portland - Maine in 03/2021" href="{% static 'bigday/images/engagement/Portland-ME.jpg' %}">
                        <div class="img-wrap">
                            <div class="overlay">
                                <i class="fa fa-search"></i>
                            </div>
                            <img src="{% static 'bigday/images/engagement/Portland-ME.jpg' %}" alt=""/>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="fancybox" rel="group" title="Big Sur - California in 06/2020" href="{% static 'bigday/images/engagement/BigSur-CA.jpg' %}">
                        <div class="img-wrap">
                            <div class="overlay">
                                <i class="fa fa-search"></i>
                            </div>
                            <img src="{% static 'bigday/images/engagement/BigSur-CA.jpg' %}" alt=""/>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <a class="fancybox" rel="group" title="Custer State Park - South Dakota in 03/2020" href="{% static 'bigday/images/engagement/RapidCity-SD.jpg' %}">
                        <div class="img-wrap">
                            <div class="overlay">
                                <i class="fa fa-search"></i>
                            </div>
                            <img src="{% static 'bigday/images/engagement/RapidCity-SD.jpg' %}" alt=""/>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="fancybox" rel="group" title="Manhattan, New York City - New York in 04/2021" href="{% static 'bigday/images/engagement/Manhattan-NY.jpg' %}">
                        <div class="img-wrap">
                            <div class="overlay">
                                <i class="fa fa-search"></i>
                            </div>
                            <img src="{% static 'bigday/images/engagement/Manhattan-NY.jpg' %}" alt=""/>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="fancybox" rel="group" title="French Quarter, New Orleans - Louisiana in 12/2021" href="{% static 'bigday/images/engagement/NewOrleans-LA.jpg' %}">
                        <div class="img-wrap">
                            <div class="overlay">
                                <i class="fa fa-search"></i>
                            </div>
                            <img src="{% static 'bigday/images/engagement/NewOrleans-LA.jpg' %}" alt=""/>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <a class="fancybox" rel="group" title="White Mountains, Lincoln - New Hampshire in 10/2020" href="{% static 'bigday/images/engagement/WhiteMountain-NH.jpg' %}">
                        <div class="img-wrap">
                            <div class="overlay">
                                <i class="fa fa-search"></i>
                            </div>
                            <img src="{% static 'bigday/images/engagement/WhiteMountain-NH.jpg' %}" alt=""/>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="fancybox" rel="group" title="Niagara Falls - New York in 12/2020" href="{% static 'bigday/images/engagement/Niagara-NY.jpg' %}">
                        <div class="img-wrap">
                            <div class="overlay">
                                <i class="fa fa-search"></i>
                            </div>
                            <img src="{% static 'bigday/images/engagement/Niagara-NY.jpg' %}" alt=""/>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="fancybox" rel="group" title="Mount Rushmore - South Dakota in 03/2020" href="{% static 'bigday/images/engagement/Presidents-1-SD.jpg' %}">
                        <div class="img-wrap">
                            <div class="overlay">
                                <i class="fa fa-search"></i>
                            </div>
                            <img src="{% static 'bigday/images/engagement/Presidents-1-SD.jpg' %}" alt=""/>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="fancybox" rel="group" title="Blue Ridge Parkway - North Carolina in 10/2021" href="{% static 'bigday/images/engagement/BlueRidgeParkway-NC.jpg' %}">
                        <div class="img-wrap">
                            <div class="overlay">
                                <i class="fa fa-search"></i>
                            </div>
                            <img src="{% static 'bigday/images/engagement/BlueRidgeParkway-NC.jpg' %}" alt=""/>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="fancybox" rel="group" title="USF, Tampa - Florida" href="{% static 'bigday/images/engagement/usf.jpg' %}">
                        <div class="img-wrap">
                            <div class="overlay">
                                <i class="fa fa-search"></i>
                            </div>
                            <img src="{% static 'bigday/images/engagement/usf.jpg' %}" alt=""/>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a class="fancybox" rel="group" title="Seattle - Washington in 07/2020" href="{% static 'bigday/images/engagement/Seattle-WA.jpg' %}">
                        <div class="img-wrap">
                            <div class="overlay">
                                <i class="fa fa-search"></i>
                            </div>
                            <img src="{% static 'bigday/images/engagement/Seattle-WA.jpg' %}" alt=""/>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row hidden-lg hidden-md hidden-xs">
                <div class="col-xs-12 section-border section-padding"></div>
            </div>
        </div>
    </section>

<!-- <section id="video-bg" class="hidden-sm hidden-xs">
    <div id="bgndVideo" class="player"
         data-property="{videoURL:'https://youtu.be/9giqL1H6yRs',containment:'#video-bg',autoPlay:true, mute:true, showControls:false, startAt:80, stopAt:259, opacity:1}">
    </div>
    <div id="video-content">
        <h5>Kolkata</h5>
        <p>City of joy</p>
    </div>
</section> -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center content">
                    <span class="to-top-wrapper"><a href="#top" class="to-top"><i class="fa fa-angle-up"></i></a></span>
                    <p>Crafted by Quan with lots of <span class="fa fa-heart pulse2" style="color: red;"></span> for Thu</p>
                </div>
            </div>
        </div>
    </footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="static/fancybox-youtube-player/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script src="{% static 'fancybox-youtube-player/js/jquery.fancybox.pack.js' %}"></script>

<script src="{% static 'fancybox-youtube-player/js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'fancybox-youtube-player/js/jquery.flexslider-min.js' %}"></script>
<script src="{% static 'fancybox-youtube-player/js/jquery.mb.YTPlayer.min.js' %}"></script>
<script src="{% static 'fancybox-youtube-player/node_modules/waypoints/lib/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'fancybox-youtube-player/js/vendor/ouical.js' %}"></script>
<script src="{% static 'fancybox-youtube-player/js/scripts.min.js' %}"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlPw3GQYI3faa_9mRE6plWuM7xNEmrwH0&callback=initMap"></script>
<!-- Google Analytics -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-46465113-4', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>